        Data Science: A Programming Approach
        Mahyar S Vaghefi
        University of Texas Arlington
        
        This document can only be used for class studies. 
        You are not allowed to share it in any public platform.

<h1 align='center' style="color: blue;">Python Overview</h1>

## 1. Variables

<p> What are variables? Variable are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory. </p>

<p>Common types of variables in python are:</p>
<ul>
    <li><b>Numeric:</b> integers, float, complex</li>
    <li><b>Text:</b> String</li>
    <li><b>Boolean:</b> True/False</li>
    <li><b>Sequences:</b> list, tuple, range</li>
</ul>

<p><b>Note:</b> In Python you don't need to declare type of variables. The declaration happens automatically when you assign a value to a variable.</p>

In [20]:
age = 20           # Define an integer variable
miles = 123.4      # Define a float variable
weight = 150.0     # If your initial value does not have a decimal value, 
                   # you still can define a float variable
name = 'John'      # Define a sting variable

<p><b>Note: </b>You can use <b style="color:blue;">type( )</b> function to check the type of variables</p>

In [21]:
# use format function to print dynamic text
print("{} is a {} type of variable".format(age,type(age)))
print("{} is a {} type of variable".format(weight,type(weight)))
# use %s to print dynamic text
print("%s is a %s type of vaible" %(miles,type(miles)))
print("%s is a %s type of vaible" %(name,type(name)))

20 is a <class 'int'> type of variable
150.0 is a <class 'float'> type of variable
123.4 is a <class 'float'> type of vaible
John is a <class 'str'> type of vaible

<p><b>Note: </b>Python allows you to assign a single value to several variables simultaneously</p>

In [ ]:
var1 = var2 = var3 = 10
print("var1 value is {}".format(var1))
print("var2 value is {}".format(var2))
print("var3 value is {}".format(var3))

<p><b>Note: </b>Python allows you to assign multiple objects to multiple variables simultaneously</p>

In [ ]:
var4, var5, var6 = 11,12,"Mike"
print("var4 value is {}".format(var4))
print("var5 value is {}".format(var5))
print("var6 value is {}".format(var6))

In [8]:
Last_index = len(list)-1
my_list.append(era)
my_list.insert(4, era)
my_list.index(era)
my_list.remove()
.pop()
.clear()
.copy()
del 
my_list_shallow_copy = my_list_copy
my_list_shallow.copy.remove("apple")
#both of them are changed
empt_tuple = ()

'hell'

In [12]:
#tuple = (aw, ert)

#Ch_tuple = tuple("bedsheet")
#Ch_tuple
fruit_list = ["apple", "benana", "orange"]
fruit_tuple = tuple(fruit_list)
fruit_tuple
"Apple" in fruit_tuple

('apple', 'benana', 'orange')

In [14]:
name_and_ages = {"Suzie": 6,
                "Calvin": 9,
                "Hobbes": 4}

name_and_ages["Calvin"]

9

In [19]:
name_and_ages.items()
name_and_ages["Rose"]=15
name_and_ages
name_and_ages.pop["Calvin"]
del name_and_ages["Rose"]

{'Suzie': 6, 'Calvin': 9, 'Hobbes': 4, 'Rose': 15}

In [20]:
Occupations_and_names = {"Doctors": ['John','Nina'],
                         "Engineers":["Bill", "Andy"],
                         "Pilots": ["Richard", "Mike"]}
                        
Occupations_and_names["Engineers"][0]

'Bill'

In [21]:
int_key_dict = {1 : "Susie",
                2 : "Rose",
                3: "Mike"}

int_key_dict[1]

'Susie'

In [26]:
salary = 1000
expenses = 700

if salary > expenses:
    print("you are saving:", salary - expenses)
else:
    print("loans:", expenses - salary)

you are saving: 300

In [ ]:
math_score = 20

if math_score < 20:
    print("is not a good score", math_score)
elif math_score < 50:
    print(" it is not bad", math_score)
elif math_score < 80:
    print(" it is good", math_score)

In [ ]:
num_list = [100, 80, 70]

for num in num_list:
    if num < 500:
        print("<500:", num)
    else:
        print(">=500:", num)

In [37]:
num = 10
while num < 20 :
    print(num + num)
    num +=2

20
24
28
32
36

In [38]:
car = input("What's my fevorite car?")

while car != "Aston Martin":
    car = input("Wrong, guess again\n")

    
print ("That's right:-)")

What's my fevorite car?
Wrong, guess again
toyota
Wrong, guess again
Aston Martin
That's right:-)

In [40]:
numbers_list = [100, 34, 45, 56]
for num in numbers_list:
    print("checking...", num)
        
    if num % 3 == 0:
        print("Multiple of 3!")
        break
    print("Not a multiple of 3:")

checking... 100
Not a multiple of 3:
checking... 34
Not a multiple of 3:
checking... 45
Multiple of 3!

In [43]:
for i in range(10, 21):
    if i >= 13 and i<= 16:
      pass
    else:
        print(i)

10
11
12
17
18
19
20

## 2. Loops

<p>There are situations when you need to execute a block of code specific number of times. In those cases you need to use loops. There are three main type of loops in Python:</p>
<ul>
    <li><b>while</b> - Repeats group of statements while a given condition remain True</li>
    <li><b>for</b> - Repeats group of statements for a defined number of iterations</li>
    <li><b>nested</b> - Use one or more loop inside any another </li>
</ul>

In [186]:
counter = 0
while counter <= 15:
    print("counter is equal to {}".format(counter))
    counter += 1

counter is equal to 0
counter is equal to 1
counter is equal to 2
counter is equal to 3
counter is equal to 4
counter is equal to 5
counter is equal to 6
counter is equal to 7
counter is equal to 8
counter is equal to 9
counter is equal to 10
counter is equal to 11
counter is equal to 12
counter is equal to 13
counter is equal to 14
counter is equal to 15

<p><b>Note: </b> <b style="color:blue;"> range( ) </b> is a function that returns a sequence of numbers. It contains three optional parameters.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><b>Syntax:</b></i></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;range(start, stop, step)</p>
<ul>
    <li>start: Optional. An integer number specifying at which position to start. Default is 0</li>
    <li>stop: Optional. An integer number specifying at which position to end.</li>
    <li>step: Optional. An integer number specifying the incrementation. Default is 1</li>
<ul>

In [46]:
for i in range(0,10):
    print("i is equal to {}".format(i))

i is equal to 0
i is equal to 1
i is equal to 2
i is equal to 3
i is equal to 4
i is equal to 5
i is equal to 6
i is equal to 7
i is equal to 8
i is equal to 9

In [47]:
for i in range(5):
    print("i is equal to {}".format(i))

i is equal to 0
i is equal to 1
i is equal to 2
i is equal to 3
i is equal to 4

In [48]:
for i in range(1,4):
    for j in range(i,4):
        print("{} multiply by {} is equal to {}".format(i,j,i*j))

1 multiply by 1 is equal to 1
1 multiply by 2 is equal to 2
1 multiply by 3 is equal to 3
2 multiply by 2 is equal to 4
2 multiply by 3 is equal to 6
3 multiply by 3 is equal to 9

<p><b>Note:</b> You can also use <b style="color:blue;"> break </b> and <b style="color:blue;"> continue </b> commands to add more controls to loops.</p>

## 3. Conditions

<p>Conditions allow decision making in programming. The general structure of conditions in Python is in the following format:</p>
<p>
<p><b>if</b> &nbsp;&nbsp; <i>Condition1</i>:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Statement1</i></p>
<p><b>elif</b> &nbsp;&nbsp; <i>Condition2</i>:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Statement2</i></p>
<p><b>else</b>:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Statement3</i></p>

In [ ]:
# use if condition to find integer values less than 25 that are divisible by 4 
for i in range(1,25):
    if i % 4 == 0:
        print("{} is divisible by 4".format(i))

<p><b>Example: </b> Complete the following code. The output should be in the following format:</p>
<div>The remainder of dividng 1 by 3 is 1</div>
<div>The remainder of dividng 2 by 3 is 2</div>
<div>The remainder of dividng 3 by 3 is 0</div>
<div>The remainder of dividng 4 by 3 is 1</div>
<div>The remainder of dividng 5 by 3 is 2</div>
<div>The remainder of dividng 6 by 3 is 0</div>

In [50]:
for i in range(1,7):
    if i%3 == 1:
        print("The remainder of dividng {} by 3 is 1".format(i))
    elif i%3 == 2:
        print("The remainder of dividing {} by 3 is 2".format(i))
    else:
        print("The remainder of dividing {} by 3 is 0".format(i))

The remainder of dividng 1 by 3 is 1
The remainder of dividing 2 by 3 is 2
The remainder of dividing 3 by 3 is 0
The remainder of dividng 4 by 3 is 1
The remainder of dividing 5 by 3 is 2
The remainder of dividing 6 by 3 is 0

<p><b>Example:</b> Write a loop code that prints all the numbers between 0 to 20 except 12 and 17.</p>

In [ ]:
for i in range (1,21):
    if i == 12 and i==17:
    continue

    else:
    print(i)

## 4. Functions

<p>Functions in programming are used to bundle a set of codes that perform a specific task. Functions can be repeatedly use to carry out a task. It is good to know that functions might or might not accept inputs.</p>

<p>Python itself contains many built-in functions that allow us to perform common tasks. Here are couple of examples for built-in functions:</p>

<ul>
    <li><b>print( )</b> - Print objects to the text stream file</li>
    <li><b>min( )</b> - Return the smallest item in an iterable or the smallest of two or more arguments.</li>
    <li><b>abs( )</b> - Return the absolute value of a number</li>
</ul>

<p>You can also define your own functions to perform the required tasks in your program. Here is the general structure of user-defined functions in python:</p>

<p>def <i>name_of_the_function</i>(var1,var2, ...):</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Statements</i></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return <i>result</i></p>

In [56]:
# Example
# A function to compute sum of two numbers
def my_sum(var1, var2):
    res = var1 + var2
    return res

# Here is how you can call your function
a = 2
b = 3
print("Sum of {} and {} is equal to {}".format(a,b,my_sum(a,b)))

Sum of 2 and 3 is equal to 5

<p><b>Example: </b> What is the output of the following code? </p>

In [1]:
def my_plus_one(var1):
    var1 +=1

a = 10
my_plus_one(a)
print(a)

10

In [3]:
def my_plus_one(var1):
    var1 +=1
    print(var1)
    
a = 10
my_plus_one(a)

11

<p><b>Example: </b> What is the output of the following code? </p>

In [65]:
def my_swap(var1, var2):
    tmp = var1
    var1 = var2
    var2 = tmp

a = 6
b = 11
my_swap(a, b)
print("a is equal to {} | b is equal to {}".format(a,b))

a is equal to 6 | b is equal to 11

### 4.1 Exeptions

<p>Keep in mind that different forms of errors can happen in programming. An exception is an <u>error</u> that happens during execution of a program. When that error occurs, Python generate an exception that can be handled, which avoids your program to crash.</p>

<p>Here is the general syntax of how you can handle common exceptions:

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><b>Syntax:</b></i></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;try:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><u>your program code</u></i></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;except <i>NameOfTheError</i>:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><u>code to handle the error</u></i></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;except:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><u>code to handle other unknown errors</u></i></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;finally:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><u>optional - code that should be excuted regardless of having or not having an error.</u></i></p>

<p><b>Note:</b> Here is the list of common possible type of errors: </p>

<ul>
    <li><span style='color:red'>SyntaxError</span>: Raised when the parser encounters a syntax error.</li>
    <li><span style='color:red'>ZeroDivisionError</span>: Raised when the second argument of a division or modulo operation is zero.</li>
    <li><span style='color:red'>NameError</span>: Raised when a local or global name is not found.</li>
    <li><span style='color:red'>TypeError</span>: Raised when an operation or function is applied to an object of inappropriate type.</li>
    <li><span style='color:red'>ValueError</span>: Raised when an operation or function receives an argument that has the right type but an inappropriate value</li>
    <li><span style='color:red'>IOError</span>: Raised when an I/O operation fails for an I/O-related </li>
</ul>

<p><b>Example</b>: Write a function that devides two numbers. Try to catch all the possible errors.</p>

In [ ]:
# Here is the basic function with no error handler
def my_divider(a,b):
    return a/b

# Let's check the function for a simple case
var1 = 10
var2 = 3
print(my_divider(var1, var2))

In [ ]:
# Let's try for another case that can cause problem for the function and see the result
var1 = 10
var2 = 0
print(my_divider(var1, var2)) # We expect to get an error (ZeroDivisionError)

In [ ]:
# Ok, let's handle this error in our function and return a message to the user
def my_divider(a,b):
    try:
        return a/b
    except ZeroDivisionError:
        return "Error: You cannot divide a number by 0"
    
var1 = 10
var2 = 0
print(my_divider(var1, var2))

In [ ]:
# Here is another possible case
var1 = 10
var2 = '2'
print(my_divider(var1, var2)) # We expect to get an error (TypeError)

In [68]:
# Let's handle the TypeError
# While the input value represents a number but in a string format, we can change the type
def my_divider(a,b):
    try:
        return a/b
    except ZeroDivisionError:
        return "Error: You cannot divide a number by 0"
    except TypeError:
        a = float(a)
        b = float(b)
        return a/b

var1 = 10
var2 = '2'
print(my_divider(var1, var2))

5.0

In [69]:
# What if the value with type error is not a number
var1 = 10
var2 = 'dog'
print(my_divider(var1, var2)) # we expect to get an error (ValueError)

ValueError: could not convert string to float: 'dog'

<p><b>Question</b>: How we should handle the above error?</p>

In [ ]:
# Write your code over here

<p></p>

In [ ]:
# There could be some other form of errors in our code. Let's also handle those errors.
def my_divider(a,b):
    try:
        return a/b
    except ZeroDivisionError:
        return "Error: You cannot divide a number by 0"
    except TypeError:
        return "Error: The type of variable is invalid"
    except:
        return "Error: Unknown error"

<p></p>

In [ ]:
# Here is a simple example that shows how to use "finally" part of the statement
def my_divider(a,b):
    try:
        result = a/b
    except ZeroDivisionError:
        result = "Error: You cannot divide a number by 0"
    except TypeError:
        result = "Error: The type of variable is invalid"
    except:
        result = "Error: Unknown error"
    finally:
        return "Result = {}".format(result)

var1 = 10
var2 = 8
print(my_divider(var1, var2))    
    
var1 = 10
var2 = 'dog'
print(my_divider(var1, var2))

### 4.2. Lambdas

<p>Lambdas are one line functions. They are also known as anonymous functions. A lambda function can take any number of arguments, but can only have one expression.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><b>Syntax:</b></i></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lambda <i>arguments</i> : <i>expression</i></p>

In [ ]:
x = lambda a : a + 10
print("Output: {}".format(x(5)))

In [6]:
x = lambda a, b : a**2 + b**2  # ** refers to power operation
print("Output: {}".format(x(5, 6)))

Output: 61

In [71]:
def raise_to_power(num, exponent):
    power = num ** exponent
    print(power)

raise_to_power(2, 4)

16

In [2]:
def square_and_qube(num):
    square = num ** 2
    cube = num ** 3
    return square, cube

<p><b>Note: </b> The main power of lambda can be shown when you use them as an anonymous function inside another function. </p>

In [1]:
def my_func(n):
    return lambda a : a * n

my_doubler = my_func(2) # This creates another function named my_doubler that can be used separately
my_tripler = my_func(3) # This creates another function named my_tripler that can be used separately

print("Here is the output of my_doubler: {}".format(my_doubler(22)))
print("Here is the output of my_tripler: {}".format(my_tripler(13)))

Here is the output of my_doubler: 44
Here is the output of my_tripler: 39

### 4.3. Common Built-in String Functions

<p>Python provides several built-in functions to manipulate string objects. You can find a complete list of them <a href='https://docs.python.org/3.7/library/string.html'>here</a>.</p> 

<p>This section shows several common string functions.</p>

In [ ]:
word = "Data Science"
word.lower() # Return a copy of string, but with upper case letters converted to lower case.

In [ ]:
word = "Data Science"
word.split() # Return a list of the words of the string. By default it uses whitspaces as the seprator

<p><b>Question:</b> What if the <i>word</i> was "Data_Science" ?</p>

In [3]:
word = "Data Science"
word.split()

['Data', 'Science']

In [4]:
# to pefrom concatenation you can use + sign
new_word = "Data" + " Analysis"
print(new_word)

Data Analysis

In [5]:
# to perform replication you can use * sign
new_word = "replicate me" * 3
print(new_word)

replicate mereplicate mereplicate me

<p><b>Example:</b> What is the result of the following code?</p>
</p>new_number = '1' + '2' </p>

<p><b>Example:</b> What is the result of the following code?</p>
</p>new_number = '1' * 5 </p>

In [8]:
new_number = '1'* 5
print(new_number)

11111

<p> In order to slice a word, you need to conider it as an array of letters with sequential indices. Here is an example </p>

<p>word = "Data Science"</p>
<br>
<div>
    <table>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">D</td>
            <td style="border: 1px solid black;">a</td>
            <td style="border: 1px solid black;">t</td>
            <td style="border: 1px solid black;">a</td>
            <td style="border: 1px solid black;">&nbsp;</td>
            <td style="border: 1px solid black;">S</td>
            <td style="border: 1px solid black;">c</td>
            <td style="border: 1px solid black;">i</td>
            <td style="border: 1px solid black;">e</td>
            <td style="border: 1px solid black;">n</td>
            <td style="border: 1px solid black;" align='center'>c</td>
            <td style="border: 1px solid black;" align='center'>e</td>
        </tr>
        <tr>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td align='center'>10</td>
            <td align='center'>11</td>
        </tr>
    </table>
</div>

In [22]:
# Now, you can test the following codes and compare it with above table
word = "Data Science"
print('--------Slice 1----------')
print(word[2:7])
print('--------Slice 2----------')
print(word[5:11]) # How you can include the letter'e' at the end in this slice?

--------Slice 1----------
ta Sc
--------Slice 2----------
Scienc

In [25]:
word = "Data Science"
#print('-------SLice 1--------')
print(word[-7:-3])

Scie

<p><b>Example:</b> What is the result of the following code?</p>
</p>word[ 8 : 20 ]</p>
<p><b>Example:</b> What is the result of the following code? Can you explain why?</p>
</p>word[ -7 : -3 ]</p>
<p><b>Example:</b> What is the result of the following code? </p>
</p>word[ -3 : -7 ]</p>

In [ ]:
# test your codes over here

<b>Note:</b> You can use <b style="color:blue;">len( )</b> function to count the number of letters in a string

In [22]:
text = "This is just for test"
print("The above text has {} letters".format(len(text)))

The above text has 21 letters

In [20]:
for i in range (1,10):
    for j in range(1,10):
        print(i*j, end = "")
    print("\n")

1   2   3   4   5   6   7   8   9

2   4   6   8   10   12   14   16   18

3   6   9   12   15   18   21   24   27

4   8   12   16   20   24   28   32   36

5   10   15   20   25   30   35   40   45

6   12   18   24   30   36   42   48   54

7   14   21   28   35   42   49   56   63

8   16   24   32   40   48   56   64   72

9   18   27   36   45   54   63   72   81

<b>Note:</b> You can search for a substring inside a text using <b style="color:blue;">find( )</b> and <b style="color:blue;">rfind( )</b> functions.

<ul>
    <li><b style="color:blue;">find( )</b>: Returns the lowest index in text where the substring is found | Returns -1 on failure</li>
    <li><b style="color:blue;">rfind( )</b>: Returns the highest index in text where the substring is found | Returns -1 on failure</li>
</ul>

In [23]:
# Example
text = "data science is a field that allows you to analyze and interpret data"

index1 = text.find('data')
index2 = text.rfind('data')

print("find function returns {} and rfind function returns {}".format(index1, index2))

find function returns 0 and rfind function returns 65

<b>Note:</b> You can also use the command <b style="color:red;">in</b> to check the existence of a substring in a text.

In [24]:
#Example
"data" in "data science"

True

In [25]:
"word" in "data science"

False

<p><b>Keep in mind that,</b> most of the string based functions are case sensitive </p>

<p><b>Example:</b> Use the <b style="color:blue;">rfind( )</b> function and <b style="color:red;">in</b> command to write a function that count the number of occurences of a word in a text </p>

In [188]:
def my_counter(text, word):
    count = 0
    while word in text:
        Counter +=1 
        index = rfind(word)
        text = text[0:index]
        return counter

<b>Note:</b> You can convert string objects into <u>int</u> and <u>float</u> using <b style="color:blue;">int( )</b> and <b style="color:blue;">float( )</b> functions.

In [36]:
# Example 1
num_str = '123'
int(num_str)

123

In [37]:
# Example 2
float(num_str)

123.0

In [52]:
numbers = "23456"     

min_Num = numbers[0]

for i in range(1,len(numbers)):
    if min_Num > numbers[i]:
        min_Num = numbers[i]
        
print(min_Num)

2

<p><b>Example:</b> Complete the follwing code to get the result of <b>250.8</b> in the output.</p>

In [1]:
num_str1 = '125.7'
num_str2 = '125.1'
float(num_str1) + float(num_str2)

250.8

<p><b>Example:</b> Complete the follwing code to get the result of <b>'1122'</b> in the output.</p>

In [38]:
num1 = 11
num2 = 22
str(num1) + str(num2)
# Complete the code

'1122'

<b>Note:</b> We already used <b style="color:blue;">format( )</b> function. But let's learn more about it. It takes string and an arbitrary set of positional and keyword arguments and puts them together

In [184]:
# Example - with input function
text_str = "Hello {}"
your_name = input('What is your name? ')
new_text_str = text_str.format(your_name)
print(new_text_str)

What is your name? john
Hello john

In [185]:
your_gender = input('What is your gender? ')
your_age = input('What is your age? ')
new_text_str2 = "{2} is a {0} and has {1} years old".format(your_gender, your_age, your_name) 
print(new_text_str2)

What is your gender? 56
What is your age? 5
john is a 56 and has 5 years old

<p><b>Example:</b> Write a loop in the following format:</p>
<ul>
    <li> In the first iteration the system should ask the user to input her/his name and prints "Hi <i>name</i>"</li>
    <li> Then, it should ask the user whether he or she wants to continue?</li>
    <li> If the user inputs "Yes", then the system should ask for her/his name again and prints "Hi <i>name</i>".</li>
    <li> If the user inputs "No" , then the system should stop</li>
    <li> If the user inputs anything other than "Yes" or "No", then the system should print an error message</li>
</ul>

In [ ]:
your_name = input('Type in your name')
next_1 = input('Do you want to continue?(Y/N)')
while next_1 == Y:
    your_name = input('Type in your name')
    next_1 = input('Do you want to continue?(Y/N)')
if next_1 != Y and next_1 != N:
    print('Error: Only enter "Y" or "N"')

<p><b>Advanced topic:</b> It is also good to know about <span style="color:blue;">Generators</span> in Python. You can find additional information <a href="https://www.programiz.com/python-programming/generator">here</a></p>

## 5. Lists

<p>A list is a collection which is ordered, changeable and resizable. In Python lists are written with square brackets.</p>
<p><b>Note: </b>List is simmilar to array in Java programming.</p>

In [42]:
# Here are some examples
fruit_list = ["apple","orange","banana","kiwi"]
fruit_list[1]

'orange'

<b>Note:</b> If access the list with an index out of the range then you will get an error message.

In [ ]:
# Example
fruit_list[4]

<b>Note:</b> You can also define a list in the following manner:

In [43]:
number_list = list((11, 22, 33)) # list constructor
print(number_list)

[11, 22, 33]

 <p><b>Note: </b> Indices can be used to <u>change</u> the values in a list. </p>

In [44]:
fruit_list[3] = "strawberry"
print(fruit_list)

['apple', 'orange', 'banana', 'strawberry']

 <p><b>Note: </b> In order to <u>add</u> an item to the end of the list you need to use the <b style="color:blue;">append( )</b> function. </p>

In [45]:
fruit_list.append("pomegranate")
print(fruit_list)

['apple', 'orange', 'banana', 'strawberry', 'pomegranate']

 <p><b>Note: </b> In order to <u>insert</u> an item in the middle of the list you need to use the <b style="color:blue;">insert( )</b> function. </p>

In [46]:
# This code inserts pear to the index = 2 and shifts the remaining items 
fruit_list.insert(2,"pear")  
print(fruit_list)

['apple', 'orange', 'pear', 'banana', 'strawberry', 'pomegranate']

 <p><b>Note: </b> To <u>delete</u> an item from the list, you have the following options:</p>
 <ul>
    <li><b style="color:blue;">pop( )</b> - This method removes the specified index (or the last item if index is not specified) from the list and <u>returns</u> it</li>
    <li><b style="color:blue;">remove( )</b> - This method removes the specified item</li>
    <li><b style="color:blue;">clear( )</b> - This method method empties the list</li>
    <li><b style="color:blue;">del </b> - This <u>keyword</u> can remove the specified index or can delete the whole list </li>
 </ul>

In [47]:
fruit_list.pop( ) # This code deletes 'pomegranate' from the end of the fruit_list and returns it

'pomegranate'

In [48]:
print(fruit_list)

['apple', 'orange', 'pear', 'banana', 'strawberry']

In [49]:
# You can also specify the index that you want to remove its associated value
fruit_list.pop(1)

'orange'

In [51]:
print(fruit_list)

['apple', 'banana', 'strawberry']

In [50]:
# Let's check the remove() function
fruit_list.remove('pear')  # Notice that you need to specify the item not the index
print(fruit_list)

['apple', 'banana', 'strawberry']

In [52]:
# Let's check the clear() function on the number_list
number_list.clear()
print(number_list)

[]

In [53]:
# Finally, let's try the del keyword
del fruit_list[1]
print(fruit_list)

['apple', 'strawberry']

In [ ]:
del fruit_list
print(fruit_list)  # Provious line of code completely delete the fruit_list object. 
                   # Therefore, you cannot print the fruit_list

<p><b>Note: </b> you can iterate through values of a list.</p>

In [203]:
fruit_list = ["apple","orange","banana","kiwi"]
for fruit in fruit_list:
    print(fruit)

apple
orange
banana
kiwi

In [204]:
for i in range(len(fruit_list)):
    print(fruit_list[i])

apple
orange
banana
kiwi

<p><b>Note: </b> <b style="color:blue;"> sort( ) </b> function can be used to sort the elements inside a list. This function mutates the list.</p>

In [55]:
fruit_list.sort()
print(fruit_list)

['apple', 'strawberry']

In [ ]:
# You can also sort the elements in a reverse format
fruit_list.sort(reverse = True)
print(fruit_list)

<p><b>Note: </b> <b style="color:blue;"> reverse( ) </b> function can be used to reverse the elements of a list. This function mutates the list.</p>

In [26]:
fruit_list = ["apple","orange","banana","kiwi"]
fruit_list.reverse()
print(fruit_list)

['kiwi', 'banana', 'orange', 'apple']

<p><b>Note: </b> <b style="color:blue;"> extend( ) </b> function can be used to attach a new list to the end of the original list.</p>

In [ ]:
fruit_list1 = ["apple","orange","banana","kiwi"]
fruit_list2 = ["strawberry","apple","pineapple","cherry"]
fruit_list1.extend(fruit_list2)
print(fruit_list1)

<p><b>Note: </b> You need to distinguish between <b style="color:blue;"> extend( ) </b> and <b style="color:blue;"> append( ) </b> functions.</p>

In [57]:
number_list1 = [11,22,33]
number_list2 = [44,55,66]
number_list2.extend(number_list1)
print(number_list2)

[44, 55, 66, 11, 22, 33]

In [58]:
number_list1 = [11,22,33]
number_list2 = [44,55,66]
number_list2.append(number_list1)
print(number_list2)

[44, 55, 66, [11, 22, 33]]

<p><b>Note: </b> You can also concatenate two lists by using <b style="color:blue;"> + </b>sign</p>

In [205]:
number_list1 = [11,22,33]
number_list2 = [44,55,66]
number_list2 += number_list1
print(number_list2)

[44, 55, 66, 11, 22, 33]

<p><b>Note: </b> You can unpack lists by assigning lists to a sequence of variables. (Number of variables in sequence should be equal to number of items in the list)</p>

In [60]:
x, y, z, a, b = ['ball', 2.5, True, 12, 'science']
print(x)
print(z)

ball
True

<p><b>Note: </b> <b style="color:blue;"> zip( ) </b> is a useful function when we want to work with two lists at the same time.</p>

In [61]:
number_list1 = [11,22,33]
number_list2 = [44,55,66]
for var1, var2 in zip(number_list1, number_list2):
    print(var1, ", ", var2)

11 ,  44
22 ,  55
33 ,  66

<p><b>Example:</b> What do you expect as an output in the following code?</p>
<div> x = [1,2,3] </div>
<div> y = x </div>
<div> x[0] = 14 </div>
<div> print(y) </div>

In [62]:
x = [1,2,3]
y = x
x[0] = 14
print(y)

[14, 2, 3]

<p><b>Question:</b> How <b style="color:blue;"> copy( ) </b> function can be used to change the output of the last example?</p>

In [ ]:
# Write the code over here

<p> <b>Note: </b> Be aware that if you pass a list to a function and modify the list within that function, then your original list will be modifed as well even if you don't return it (that won't happen with variables). You can use <b style="color:blue;"> copy( ) </b> to handle this issue.</p>

In [66]:
def my_list_doubler(my_list):
    for i in range(0,len(my_list)):
        my_list[i] = my_list[i] * 2
    
a_list = [1, 2, 3, 4]
my_list_doubler(a_list[:])
print(a_list)

[1, 2, 3, 4]

In [5]:
def my_list_doubler(my_list):
    for i in range(0,len(my_list)):
        my_list[i] = my_list[i] * 2
        
my_list = [1, 2, 3, 4]
my_list_doubler(my_list)
print(my_list)

[1, 2, 3, 4]

<p> <b>Note:</b> You can also copy a list by cloning it in the following format:</p> 

<p> new_list = a_list[ : ]</p>

<p> That can be used to solve the issue in the last example.</p>

In [65]:
def my_list_doubler(my_list):
    for i in range(0,len(my_list)):
        my_list[i] = my_list[i] * 2
    
a_list = [1, 2, 3, 4]
my_list_doubler(a_list[:])
print(a_list)

[1, 2, 3, 4]

In [69]:
def my_var_doubler(my_var):
    my_var = my_var * 2
    #print(my_var)
    
a_var = 10
my_var_doubler(a_var)
print(a_var)

10

<p><b>Note:</b> Comprehension can also be used for generating lists. List comprehensions provide a concise way to create lists. They allow sequences to be built from other sequences</p>

In [70]:
# Example of comprehensions
my_new_list1 = [e**2 for e in range(1,10)]
print("Result of my_new_list1: \n{}".format(my_new_list1))

print("\n---------------------------------\n")

original_list = [10, 'a' , 'b' , 12 , True, 23]
my_new_list2 = [e**2 for e in original_list if type(e)==int]
print("Result of my_new_list2: \n{}".format(my_new_list2))

Result of my_new_list1:
[1, 4, 9, 16, 25, 36, 49, 64, 81]

---------------------------------

Result of my_new_list2:
[100, 144, 529]

## 6. Tuples

<p>A tuple is a sequence of <u>immutable</u> Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples <u>cannot be changed</u> unlike lists and tuples use parentheses, whereas lists use square brackets.</p>
<p><b>Note: </b> Usually tuples are used to put related set of data together.</p>

In [74]:
# Here are some examples of how you can define tuples
sample_tuple1 = ("Honda", "Civic", 4, 2009 )
sample_tuple2 = (1 ,2 , 3 ,4 , 5, 6)
sample_tuple3 = tuple([1,"a", 2, "b"])
sample_tuple4 = "a", "b", "c", "d"

In [75]:
type(sample_tuple4)

tuple

In [76]:
print(sample_tuple4)

('a', 'b', 'c', 'd')

In [71]:
# Example of a tuple with one element
single_element_tuple = ("test",)
type(single_element_tuple)

tuple

<p><b>Note: </b> You can join two tuples and create a new tuple.</p>

In [77]:
new_tuple = sample_tuple1 + sample_tuple2
print(new_tuple)

('Honda', 'Civic', 4, 2009, 1, 2, 3, 4, 5, 6)

<p><b>Note: </b> You cannot change or update values in tuples.</p>

In [ ]:
sample_tuple2[2] = 10 # This causes an error

<p><b>Note: </b> Tuples are coveniently used to <b>swap</b> variable values.</p>

In [78]:
x = 10
y = 25
(x, y) = (y, x)

print("x = {}".format(x))
print("y = {}".format(y))

x = 25
y = 10

<p><b>Note: </b> Tuples can be used to return more than one value from a function.</p>

<p><b>Example: </b> Write a function that returns both <u>min</u> and <u>max</u> values of a list with integer values.</p>

In [ ]:
def my_min_max(a_list):
    min_value = a_list[0] # put an inital value for min_value
    max_value = a_list[0] # put an inital value for max_value
    
    #find min
    for x in a_list:
        if x < min_value:
            min_value = x
    
    #find max
    for y in a_list:
        if y > max_value:
            max_value = y
            
    return (min_value, max_value)

my_list = [11,10,8,7,17,22,13,9,21,14,7]
my_min, my_max =  my_min_max(my_list)
print("min is {} and max is {}".format(my_min, my_max))

In [ ]:
def my_min_max(a_list):
    min_value = a_list[0]
    max_value = a_list[0]
    
    for x in a_list:
        if x < min_value:
            min_value = x
    for y in a_list:
        if y > max_value:
            max_value = y

## 7. Dictionary

<p>A dictionary is a collection which is <u>unordered</u>, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. </p>
<p> Keys are <u>unique</u> within a dictionary while values may not be. The values of a dictionary can be of any type, but the <u>keys must be of an immutable data type</u> such as strings, numbers, or tuples.</p>

In [144]:
sample_dict1 = {
    'fname':'John',
    'lname':'smith',
    'age':25,
    'interets':['computer games','football'],
    ('GPA','highschool'): 3.3
}

print(sample_dict1['fname'])
print(sample_dict1['interets'])
print(sample_dict1[('GPA','highschool')])

John
['computer games', 'football']
3.3

<p><b>Note: </b> You cannot use numeric indices to access to values in a dictionary. why?</p>

In [ ]:
sample_dict1[1] # This causes an error

<p><b>Note:</b> You can easily add new keys and values to a dictionary. </p>

In [145]:
sample_dict1['new_key'] = 'new_value'
print(sample_dict1)

{'fname': 'John', 'lname': 'smith', 'age': 25, 'interets': ['computer games', 'football'], ('GPA', 'highschool'): 3.3, 'new_key': 'new_value'}

In [146]:
sample_dict1[0] = 'new_value2' # Keep in mind that that 0 does not refer to a numeric index
print(sample_dict1)

{'fname': 'John', 'lname': 'smith', 'age': 25, 'interets': ['computer games', 'football'], ('GPA', 'highschool'): 3.3, 'new_key': 'new_value', 0: 'new_value2'}

<p><b>Note:</b> If you use a key that is not in specified in a dictionary, you will get an error message. In order to resolve this issue you can use the <b style="color:blue;">get( )</b> function </p>

In [85]:
#print(sample_dict1['test_key'])

In [147]:
print(sample_dict1.get('test_key'))

None

<p><b>Note:</b> To delete from a dictionary you can use:
    <ul>
        <li><b style="color:blue;">del</b> keyword</li>
        <li><b style="color:blue;">pop( )</b> function</li>
    </ul>
</p>

In [148]:
del sample_dict1['new_key']
print(sample_dict1)

{'fname': 'John', 'lname': 'smith', 'age': 25, 'interets': ['computer games', 'football'], ('GPA', 'highschool'): 3.3, 0: 'new_value2'}

In [149]:
sample_dict1.pop('age')

25

In [150]:
print(sample_dict1)

{'fname': 'John', 'lname': 'smith', 'interets': ['computer games', 'football'], ('GPA', 'highschool'): 3.3, 0: 'new_value2'}

<p><b>Note:</b> Similar to lists and tuples, you can use the <b style="color:blue;">len( )</b> function to count the number of items inside a dictionary</p>

In [96]:
len(sample_dict1)

4

<p><b>Note:</b> You can also iterate over the keys and values inside a dictionary.</p>

In [97]:
for i in sample_dict1:
    print(i)

fname
lname
interets
('GPA', 'highschool')

In [151]:
for key,value in sample_dict1.items():
    print(key, " : " , value)

fname  :  John
lname  :  smith
interets  :  ['computer games', 'football']
('GPA', 'highschool')  :  3.3
0  :  new_value2

<p><b>Example:</b> consider the following dictionary.</p>

In [16]:
# Key : tuples which contains movie_name and movie_year
# Value : IMDB rating of the movies
movie_dict = {
    ('Braveheart', 1995) : 8.4,
    ('Titanic', 1997) : 7.8,
    ('The Princess Diaries', 2001): 6.3,
    ('crash', 2004): 7.8,
    ('Batman Begins', 2005): 8.3,
    ('The Godfather', 1972): 9.2
}

<p> Write a code to remove movies that were produced before year 2000 </p>

In [18]:
def print_dict(dic):
    for key in dic.keys():
        print(key,': ',dic[key])
keys = movie_dict.keys()        
print(keys)
for key in list(keys):
    if key[1] < 2000:
       movie_dict.pop(key, None)
print_dict(movie_dict)

dict_keys([('Braveheart', 1995), ('Titanic', 1997), ('The Princess Diaries', 2001), ('crash', 2004), ('Batman Begins', 2005), ('The Godfather', 1972)])
('The Princess Diaries', 2001) :  6.3
('crash', 2004) :  7.8
('Batman Begins', 2005) :  8.3

In [14]:
def print_dict(dic):
    for key in dic.keys():
        print(key,': ',dic[key])
keys = movie_dict.keys()        
print(keys)

dict_keys([('Braveheart', 1995), ('Titanic', 1997), ('The Princess Diaries', 2001), ('crash', 2004), ('Batman Begins', 2005), ('The Godfather', 1972)])

In [17]:
for k in movie_dict.items():
    if k[1] <= 2000:
        movie_dict.pop(k, None)
        
movie_dict

{('Braveheart', 1995): 8.4,
 ('Titanic', 1997): 7.8,
 ('The Princess Diaries', 2001): 6.3,
 ('crash', 2004): 7.8,
 ('Batman Begins', 2005): 8.3,
 ('The Godfather', 1972): 9.2}

<p><b>Note: </b> You can also use comprehensions to create dictionaies.</p>

In [99]:
sample_dict = {i: i**3 for i in range(6)}
print(sample_dict)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [122]:
sample_dict = {i: i**3 for i in range(6)}
print(sample_dict)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [170]:
def calculate_GST(price, type_of_item):
    if type_of_item == "product":
        return price * 1.05
    elif type_of_item == "Service"  :
        return price * 1.18
    
    else:
        return price * 1.35

In [171]:
calculate_GST(1000, "Product")

1350.0

In [ ]:
def calculate_VAT(price, type_of_item):
    return price * 1.2

## 8. Sets

<p>A set is a collection which is <u>unordered</u> and <u>unindexed</u>. In Python sets are written with curly brackets. Sets are similar to lists with the distinction that they cannot contain duplicate values</p>

In [137]:
fruit_set = {"apple", "orange", "banana", "kiwi"}
print(fruit_set)

{'apple', 'kiwi', 'banana', 'orange'}

In [138]:
# Let's add another apple to the set and see the result
fruit_set2 = {"apple", "orange", "banana", "kiwi", "apple"}
print(fruit_set2)

{'apple', 'kiwi', 'banana', 'orange'}

In [139]:
# Here is another way to creat sets
fruit_set = set(["apple", "orange", "banana", "kiwi"])
print(fruit_set)

{'apple', 'kiwi', 'banana', 'orange'}

In [140]:
fruit_set = set(["apple", "orange", "banana", "kiwi"])
print(fruit_set)

{'apple', 'kiwi', 'banana', 'orange'}

<p><b>Note: </b> You can use <b style="color:blue;">add( )</b> function to add a new value to the set. </p>

In [141]:
fruit_set.add("cherry")
print(fruit_set)

{'apple', 'kiwi', 'orange', 'cherry', 'banana'}

<p><b>Note: </b> You can use <b style="color:blue;">discard( )</b>, <b style="color:blue;">remove( )</b> or <b style="color:blue;">pop( )</b> functions to remove a value from a set.</p>

In [155]:
fruit_set.discard("banana")
print(fruit_set)

{'apple', 'kiwi', 'orange', 'cherry'}

In [158]:
fruit_set.pop()
print(fruit_set)

{'kiwi', 'orange', 'cherry'}

<p><b>Note: </b> Sets support math operations such as union, intersection and etc. </p>

In [159]:
# union
fruit_set1 = {"apple", "orange", "banana", "kiwi"}
fruit_set2 = {"apple", "cherry", "pomegranate", "strawberry"}

fruit_set2.union(fruit_set1)

# Keep in mind that the union function does not apply the operation to the original set,
# but it returns a new set
print(fruit_set2)

{'pomegranate', 'apple', 'strawberry', 'cherry'}

In [ ]:
fruit_union_set = fruit_set2.union(fruit_set1)
print(fruit_union_set)

In [160]:
# Intersection
fruit_intersection_set = fruit_set2.intersection(fruit_set1)
print(fruit_intersection_set)

{'apple'}

## 9. Classes and Objects

<p>
Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state
</p>

In [161]:
class Human:
    def __init__(self, age = 1 , gender = 'female', name = 'unknown'):
        self.age = age
        self.gender = gender
        self.name = name
        self.status = 'sleep'
        if self.gender == 'female':
            self.pronoun = "She"
        elif self.gender == 'male':
            self.pronoun = "He"
        
    def getting_older(self):
        """Adds 1 year to the age"""
        self.age += 1
        
    def walk(self):
        """change the current status to walk"""
        self.status = 'walk'
    
    def sleep(self):
        """change the current status to walk"""
        self.status = 'sleep'
        
    def get_current_age(self):
        """Prints the current age"""
        print("{} is {} years old".format(self.name, self.age)) 
    
    def get_current_status(self):
        """Prints the current status"""
        if self.status == 'sleep':
            print("{} is sleeping".format(self.pronoun))
        elif self.status == 'walk':
            print("{} is walking".format(self.pronoun))
            
John = Human(20, 'male', 'John')
John.get_current_age()

John is 20 years old

In [162]:
John.get_current_status()

He is sleeping

In [163]:
John.getting_older()
John.walk()
John.get_current_age()
John.get_current_status()

John is 21 years old
He is walking

<p><b>Advanced topic:</b> It is aslo good for students to know about the concept of <span style="color:blue;">Inheritance</span> in Python</p>

## 10. Complementary Information

### 10.1. Getting Help

<p> Every Python object contains a <i>docstring</i> refernce which provides complementary information about the object and the way that you can use it.</p>

<p>There are two ways to access to docstring:</p>
<ul>
    <li><b style="color:blue;">help( )</b> function</li>
    <li><b style="color:blue;">?</b> character</li>
</ul>

In [ ]:
# An example that shows how to use help() function.
help(max)

In [ ]:
help(a_list.append)

<p><b>Note:</b> if you need to find the list of methods associated with an object, you can write the name of the object with a period (.) after that followed by Tab key. Here is an example:</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list. <i>"press the tab key"</i></p>
<br/>
<p>If you are looking for a specific method, you can type the initial names of that method and then press the tab key  </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list.app <i>"press the tab key"</i></p>

In [ ]:
# You can test the above feature over here

### 10.2. Magic Commands

<p>Magic commands are designed to succinctly solve various common problems in standard data analysis. There are two different formats of magic commands:</p>
<ul>
    <li>line magics - <span style="color:blue;">single % prefix</span></li>
    <li>cell magics - <span style="color:blue;">double %% prefix</span></li>
</ul>

<p>Here is the list of few popular magic commands:</p>
<ul>
    <li><span style="color:blue;">%run</span>: Run the named file inside IPython as a program </li>
    <li><span style="color:blue;">%timeit</span>: Automatically determine the execution time of the single-line Python statement that follows it</li>
    <ul>
        <li>If you want to use it for a code block you need to use <span style="color:blue;">%%timeit</span></li>
    </ul>
    <li><span style="color:blue;">%time</span>: Return the CPU and wall clock times for running a code.</li>
    <li><span style="color:blue;">%lprun</span>: Will do a line-by-line profiling of any function and gives you information about number of hits and time line by line.</li>
    <ul>
        <li>You need to install the line_profiler package using pip or conda</span></li>
    </ul>
    <li><span style="color:blue;">%memit</span> and <span style="color:blue;">%mprun</span>: Provide memory usage information.</li>
    <ul>
        <li>You need to install the memory_profiler package using pip or conda</span></li>
    </ul>
</ul>

<p><b>Example: </b> You can find some examples over here: </p>

In [ ]:
%run simpleCode.py

In [ ]:
%timeit a_list = [i**2 for i in range(1000)]

In [ ]:
%%timeit
a_list = list()
for i in range(1000):
    a_list.append(i**2)

In [ ]:
%%time
total = 0
for i in range(10):
    for j in range(10):
        total += i**j

In [27]:
# If you have not installed the line_profiler package, 
# uncomment the next two lines and run them

import sys
!conda install --yes --prefix "{sys.prefix}" line_profiler

/bin/sh: conda: command not found

In [29]:
#%load_ext line_profiler

In [ ]:
def sum_of_lists(N): 
    total = 0
    for i in range(5):
        L = [j ** i for j in range(N)] 
        total += sum(L)
    return total

%lprun -f sum_of_lists sum_of_lists(5000) # the output is on a separate window

In [ ]:
# If you have not installed the memory_profiler package,
# uncomment the next two lines and run them

#import sys
#!conda install --yes --prefix "{sys.prefix}" memory_profiler

In [ ]:
%load_ext memory_profiler

In [ ]:
def sum_of_lists(N): 
    total = 0
    for i in range(5):
        L = [j ** i for j in range(N)] 
        total += sum(L)
        del L # This line has been added
    return total

%memit sum_of_lists(100000)

In [ ]:
# You cannot get the memory information line by line unless 
# you save your function as a separate file
%mprun -f sum_of_lists sum_of_lists(100000)

<p><b>Note:</b> To create a physical copy of a function you can write it in separate editor and save it or you can use <span style="color:blue;">%%file</span> magic command. </p>

<p><b>Example:</b> Here is an example that shows how <span style="color:blue;">%%file</span> works. This block of the code will save the sum_of_lists function into demo_code.py file</p>

In [ ]:
%%file demo_code.py 
def sum_of_lists(N): 
    total = 0
    for i in range(5):
        L = [j ** i for j in range(N)] 
        total += sum(L)
        del L # This line has been added
    return total

In [ ]:
# Now you can get the memory usage line by line
from demo_code import sum_of_lists
%mprun -f sum_of_lists sum_of_lists(100000) # the output is on a separate window

### 10.3. Input and Output History

<p>You can have access to previous output with the variable <span style="color:blue;">_</span> (a single underscore) </p>

In [ ]:
24 * 60 * 60

In [ ]:
_ * 100

<p><b>Note:</b> It is important that you understand the different between Out[ ] and the output of the print( ) function.</p>
<p><b>Note:</b> In Jupyter you can access to second-to-last output by using <span style="color:blue;">__</span> (double underscore) and third-to-last output by using <span style="color:blue;">___</span> (triple underscore)</p>

In [ ]:
__ / 100  # 86400/100

In [ ]:
___ * 5  # 86400*100

In [172]:
import math

In [174]:
math.floor(6.7)

6

In [175]:
math.gcd(234, 452)

2

In [192]:
N = int(input("Please enter an integer: "))
for x in range (0, N):
  if x > 1:
    for i in range (2, N):
      if x % N == 0:
        break
    else:
        print(x)

Please enter an integer: 9
2
3
4
5
6
7
8

In [199]:
vowel = "aiou"

text = input("Please enter a text: ")
counter = 0

for i in range (0, len(text)):
    c = text[i]
    if c == vowel:
        counter += 1
    print()

Please enter a text: I am good
None
None
None
None
None
None
None
None
None

In [202]:
vowel = "auoli"
text = input("please enter a text: ")
for i in range(len(text)):
    c = text[i]
    if c == vowel:
        print(c)
    else: 
        break

please enter a text: aryeui

In [31]:
for i in range (5,0,-1):
    for j in range (0, i):
        print('*', end=" ")
    print("\n")

* * * * *

* * * *

* * *

* *

*

In [36]:
def power(num, x=1):
    result = 1
    for i in range(x):
        result = result * num
    return result
power(3,2)

9

In [61]:
input = "SSFFDDSSSSsadsf&sdf^453045##213dfdf56"

# expected : ad.... + 1 + ##^&

pattern = "~!@#$%^&*()_+=-"
patternNum = "0123456789"
patternLetter = "abcdefghijklmnopqrstuwxyz"

specialChars = ""
numbers = ""
letters = ""

for ch in input:
    if ch in pattern:
        specialChars+= ch
specialChars = specialChars[::-1]        
        
for num in input:
    if num in patternNum:
        numbers+= num

for text in input:
    if text in patternLetter:
        letters += text

sortedLetters =(''.join(sorted(letters)))
     
minNum = numbers[0]

for i in range(1,len(numbers)):
    if minNum > numbers[i]:
        minNum = numbers[i]
        
        
print(sortedLetters + minNum + specialChars)

addddffffsss0##^&

In [90]:
def specialSorting(inString):
    patternChars = "~!@#$%^&*()_+=-"
    patternNumbers = "0123456789"
    specialChars = ""
    numbers = ""
    letters = ""
    for ch in inString:
        if ch in patternChars:
            specialChars += ch
        elif ch in patternNumbers:
            numbers =+ ch
        else:
            letters =+ ch
    
    specialChars =  specialChars[::-1] 
    sortedLetters = (''. join(sorted(letters)))
        
    minNum = numbers[0] 
    for i in range (1, len(numbers)):
        if minNum > numbers[i]:
            minNum = numbers[i]
            
    return sortedLetters + minNum + specialChars


myInput = "AAASFEWsadsf&sdf^453045##213dfdf56"
specialSorting(myInput)

'AAAEFSWaddddffffsss0##^&'

In [95]:
def facts(num):
    if num < 0:
        return 0
    elif num == 0 or num == 1:
        return 1
    else:
        result = 1
      
        while (num >1):
            result = result * num
            num = num -1
        return result
facts(5)

120

In [ ]:
Output :2500
We need to find simple interest on 
Rs. 10,000 at the rate of 5% for 5 
units of time.
p = 10,000
r = 5
t = 5

In [ ]:
def simple_interest(p,t,r):
    print('The principal is', p)
    print('The time period is', t)
    print('The rate of interest is', r)
    
    si = (p * t * r) /100
    print('The simple interest is', si)
    return si

In [ ]:
x = np.zeros((n,n), dtype = int)

In [ ]:
import numpy as np
def printckeckboard(n):
    print("checkboard pattern:")
    
    x[1::2, ::2] = 1
    x[::2, 1::2] = 1
    
    for i in range(n):
        for j in range(n):
            print(x[i][j], end = "")
        print()

In [ ]:
def pattern(n):
    for i in n:
        print("|", end = "")
        print("*" * int(i))
        
n = "41325"
pattern(n)

In [ ]:
Input : Principle (amount): 1200
        Time: 2
        Rate: 5.4
Output : Compound Interest = 1333.099243

In [ ]:
def compound_interest(principal, rate, time):
    Amount = principle * (pow((1+rate), time))
    CI =  Amount - principle
    print("Compound interest is", CI)
    
compound_interest(10000, 10.25, 5)

In [117]:
def printFib(n):
    if n==0 or n==1:
        return 1
    return printFib(n-1) + printFib(n - 2)

In [123]:
printFib(18)

4181

In [122]:
def fib(n):
    lst = [] 
    for i in range(0,n+1):
        if i == 0 or i == 1:
            lst.append(1)
        else:
            lst.append(lst[i-1] + lst[i-2])
        
    return lst[n]

In [124]:
fib(18)

4181

In [125]:
def fact(n):
    if n <0:
        return 0
    elif n == 0 or n==1:
        return 1
    else:
        result = 1
        while (n >1):
            result = result * n
            n = n-1
    return result

fact(5)

120

In [132]:
def recursiveFact(n):
    if n < 0:
        return 0
    elif n ==0 or n==1:
        return 1
      
    return n * recursiveFact(n-1)

In [133]:
recursiveFact(5)

120

In [137]:
#Python program to split array and move first 
# part to end. 

def splitArr(arr, n, k):
    for i in range (0,k):
        x = arr[0]
        for j in range (0, n-1):
            arr[j]= arr[j+1]
        arr[n-1] = x
        
arr = [12, 10, 5, 6, 52, 36]  
n = len(arr)
position = 2
splitArr(arr,n,position)
for i in range (0, n):
    print(arr[i], end = ' ')

5 6 52 36 12 10

In [ ]:
number = int(please enter a number)
sum = 0
for i in range (1,number):
    if number % i == 0:
        sum = sum + i
if (sum == number):
    print("{} is perfect number".format(number))
else:
    print("{} is not a perfect number".format(number))

In [ ]:
# Python3 Program to 
# find sum of square 
# of first n natural  
# numbers

def squaresum(n):
    sum = 0
    for i in range (1,n+1):
        sum = sum + (i*i)
        
    return sum

In [ ]:
def qubesum(n):
    sum = 0
    for i in range (1,n+1):
        sum = sum +(i*i*i)
    return sum

In [ ]:
 # sum of elements in given array  
def sum(arr):
    sum = 0
    for i in array:
        sum = sum + i
    return sum

In [ ]:
def largest_arr(arr,n):
    max = arr[0]
    for i in range(1,n):
        if arr[i] > max:
            max = arr[i]  
    return max